<configuration>
  <system.webServer>    
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>    
     <rewrite>
	  <rules>
		<rule name="sendtoNode">
		  <match url="/*" />
		  <action type="Rewrite" url="index.js" />
		</rule>
		<rule name="OPTIONS" patternSyntax="Wildcard" stopProcessing="true">
        <match url="*" />
        <conditions logicalGrouping="MatchAny">
            <add input="POST" pattern="OPTIONS" />
        </conditions>
        <action type="CustomResponse" statusCode="200" subStatusCode="0" statusReason="OK" statusDescription="OK" />
    </rule>
	  </rules>
	</rewrite> 
	
	<modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
  </system.webServer>
  <system.webServer>
    <iisnode promoteServerVars="LOGON_USER" />
</system.webServer>
</configuration>